
body {
	padding-top:2%;
}


/* heading */
.heading {
	position: absolute;
	left: 0;
    top: 0;
    width: 100%;
	float: center;
	background-color:teal;
	color:white;
	font-size: 50px;
    margin-left:auto; 
    margin-right:auto;
	text-align: center;
 }
 
.game_control{
	margin-left:auto; 
    margin-right:auto;
	text-align: center;
	margin-top:3%;

}

.game_control h1{
	font-family: Impact;
	margin-top: 5%;
 }

.game_control table{
    margin-left:auto; 
    margin-right:auto;
	margin-top:2%;
	text-align:center;
}

.game_control .game_options{
	font-weight: bold;
	cursor: pointer;
}

.game_control .game_options td {
	border-radius: 8px;
	text-align: center;
	width: 200px;
	height: 50px;
	border-right: 100px;
}

/* not currently working

.game_control td:hover {
	border: 2px solid white;
}
*/

.game_control img{
	width: 70%;
}

/* all id's contained in game control */
/* different button colors */
#human {
	background-color: blue;
}

#easy {
	background-color: green;
}

#med {
	background-color: orange;
}

#hard {
	background-color: red;
}
/* short description at end of options */
#boss {
	margin-top: 10%;
	font-family: fantasy;
	font-size: 35px;
}


 /* restart button */
#restart {
    margin-left:auto; 
    margin-right:auto;
	font-size: 30px;
	text-align: center;
 }
 

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 35px;
    width: 100%;
	background-color:teal;
	color:white;
    margin-left:auto; 
    margin-right:auto;
	font-size: 20px;
	text-align: center;
	font-size: 18px;
	padding-top: 10px;
	padding-bottom: 30px;
}


/* After 1st page */

.game_in_play {
	margin-top:3%;
}

.game_in_play p {
	font-size: 25px;
	margin-left:auto; 
    margin-right:auto;
	text-align: center;
}

#play_lets, #play1, #play2, #play3, #play4, #play5, #play_is, #play_happening, #play_again, #computer_takes_round, #human_takes_round, #new_round, .score {
	display:none;
}



.game_table {
	text-align: center;
	margin-top: 1.5%;
	margin-bottom: 1%;
	margin-left:auto; 
    margin-right:auto;
	text-align: center;
	display:none;
}

.game_table td {
	border-style: solid;
	border-width: 2px;
	margin-left:auto; 
    margin-right:auto;
	text-align: center;
	border-color: black;
	padding-top: 2%;
	font-size: 25px;
	width: 200px;
	height: 200px;
	cursor:pointer;
}

 a {
 	cursor:pointer;
 }

 #xo {
    margin-left:auto; 
    margin-right:auto;
	text-align: center;
	width: 170px;
	height: 170px;
}

#widget_1 {
  background: #202024 url('http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/uber/black-thread.png') repeat left top;
  left: 300px;
  top: 200px;
  height: 63.5%;
  position: fixed;
  width: 200px;
  font-color:white;
}

#won {
	position: absolute;
    left: 1300px;
    top: 490px;
	width: 200px;
	height: 200px;
	font-size: 25px;
	font-family:fantasy;
	display:none;
}

#whos_turn_is_it {
	position: absolute;
    left: 400px;
    top: 490px;
	width: 200px;
	height: 200px;
	font-size: 25px;
	font-family:fantasy;
	display:none;
}