body {
	text-align:center;
	margin:0 auto;
}

.container {
	width:80%;
}

header {
	position: absolute;
	display:block;
	left: 0;
  top: 0;
  width: 100%;
	background-color:teal;
	color:white;
	font-size: 50px;
  margin: 0 auto;
 }
 
.game_control h1 {
	font-family: Impact;
	display:block;
	margin-top:100px;
	margin-bottom:2%;
}

.game_options {
	font-weight: bold;
	cursor: pointer;
	width: 80%;
	margin: 0 auto;
	margin-bottom:3%;
	margin-top:3%;
	border-spacing: 20px;
	border-collapse: separate;
}

.game_options td {
	border-radius: 8px;
	text-align: center;
	padding:5px;
	min-width: 100px;
	border-spacing: 10px;
}


.game_options img{
	width: 70%;
}


#human {
	background-color:lightgreen;
}


#easy {
	background-color: yellow;
}


#med {
	background-color: orange;
}

#hard {
	background-color: red;
}

/* After 1st page */

.game_in_play {
	cursor: pointer;
	width: 70%;
	margin-top:100px;
	margin-bottom:3%;
	text-align:center;
	margin-left:15%;
}

.game_in_play div {
	margin-top: 2%;
	font-size: 25px;
	margin: 0, top;
	text-align: center;
}

#play_lets, #play1, #play2, #play3, #play4, #play5, #play_is, #begun, #play_again, #computer_takes_round, #human_takes_round, #new_round, #score, #home, #whos_turn_is_it {
	display:none;
}

.game_table {
	text-align: center;
	margin: 0 auto;
	display:none;
	width: 60%;
	margin-top:5%;
}

.game_table td {
	border-style: solid;
	border-width: 2px;
	margin: 0 auto;
	text-align: center;
	border-color: black;
	margin-top: 2%;
	font-size: 25px;
	width: 200px;
	height: 200px;
	cursor:pointer;
}

 a {
 	cursor:pointer;
 	text-decoration: none;
 }



#won {
	position: fixed;
  left: 67%;
  top: 52%;
	font-size: 25px;
	font-family:fantasy;
	display:inline-block;
}

#whos_turn_is_it {
	position: fixed;
  left: 21%;
  top: 52%;
	font-size: 25px;
	font-family:fantasy;
}

#score {
	position: fixed;
	left:77%;
	top:12%;
	font-size: 15px;
	text-align: center;
	float:right;
}

#score td {
	border-style: solid;
	border-width: 2px;
	border-color: black;
	padding:14px;
	font-size:18px;
}

#line {
  height: 40px;
  width: 500px;
  border-bottom: 3px solid red;
}

#line_up {
  height: 40px;
  width: 500px;
  border-bottom: 3px solid red;
  transform: skew(90deg);
}

#line_d1 {
  height: 500px;
  width: 500px;
  border-right: 3px solid red;
  transform: skew(-45deg);
}

#line_d2 {
  height: 500px;
  width: 500px;
  border-right: 3px solid red;
  transform: skew(45deg);
}


#win1000 {
	margin-top: 10%;
	font-family: fantasy;
	font-size: 35px;
}


#home {
	position:absolute;
	left: 85%;
	top: 87%;
	font-size: 25px;
	text-align: center;
	font-color:white;
 }

 #play_again {
 	margin-top:3%;
 	font-size:35px;
 	cursor:pointer;
 }
 

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
	background-color:teal;
	color:white;
	text-align: center;
	font-size: 20px;
	padding-top: .6%;
	padding-bottom: .6%;
}

